1_gmsi_stomp.R
BEFORE AFTER.pdf
F1_O.png
F1_SQRT.png
F2_O.png
F2_SQRT.png
F3_O.png
F3_SQRT.png
F4_O.png
F4_SQRT.png
F5_O.png
F5_S1RC_Corr.png
F5_S4ER_corr.png
FG_O.png
FG_SQRT.png
Histogram_emotion.png
Lab1_33585886_final.pdf
Lab1_WhitneyHung_33585886_final.docx
Lab1_WhitneyHung_33585886_v0.docx
Lab1_anonymous_33585886_final.doc
OUTPUT_NORMALITYCHECK.pdf
OUTPUT_PEARSONS_SQRT.pdf
OUTPUT_PEARSON_ORIGIN.pdf
OUTPUT_SKEWNESS_MEAN.pdf
OUTPUT_SPEARMAN_ORIGIN.pdf
OUTPUT_original_Mean_SD.pdf
OUTPUT_original_Mean_SD_2.pdf
OUTPUT_original_all_mean_SD_skew.pdf
OUTPUT_original_all_normality.pdf
Output1.spv
STOMPR-testformusicalpreference.doc
Syntax1_lab1.sps
_Lab1_Aggregated_Data_Lab1.csv
_Lab1_dataset_v0.5.sav
_Lab1_dataset_v0.sav
_Lab1_dataset_v2.sav
_lab1_syntax.txt
datatable_Cheat_Sheet_R.pd